body{
    padding: 0px;
    margin: 0px;
    background-color: rgb(95, 218, 160);
    margin-left: 20px;
}
div > p{
    background-color: rgb(10, 16, 16);
    color: rgb(0, 0, 0);
    border: 2px;
    height: 60px;
    width: 180px; 
    background-color: rgb(255, 255, 255);   
    margin-left: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(38, 150, 194);
    text-align: center;
}   
button{
    border: 3px ;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
}
#para{
    display: flex;
    margin-top: 10px; 
}  

